<template>
  <div>
    <h1>BarCode  {{isEnable.toUpperCase()}}</h1>
    <div id="BarCode"></div>
    <div style="display:none">
      <audio id="beep">
        <source src="../assets/beep-07.mp3" type="audio/wav">
      </audio>
    </div>
  </div>
</template>

<script>
import { sync, get } from "vuex-pathify";

export default {
  mounted() {
    this.initQrcode();
  },
  computed: {
    barCode: sync("barCode"),
    snackInfo: get("snackInfo"),
    snackOrder: sync("snackOrder")
  },
  data() {
    return {
      isEnable: "ready",
      Quagga: null
    };
  },
  destroyed: function(){
    this.Quagga.offProcessed();
    this.Quagga.offDetected();
    this.Quagga.stop();
  },
  methods: {
    initQrcode() {
      this.Quagga = require("quagga");
      this.Quagga.init(
        {
          inputStream: {
            name: "Live",
            type: "LiveStream",
            target: document.querySelector("#BarCode") // Or '#yourElement' (optional)
          },
          decoder: {
            readers: ["ean_reader"],
            debug: {
              drawBoundingBox: true,
              showFrequency: true,
              drawScanline: true,
              showPattern: true
            },
            multiple: false
          }
        },
        (err) => {
          if (err) {
            console.log(err);
            return;
          }
          console.log("Initialization finished. Ready to start");
          this.Quagga.start();

          // Quagga.onDetected(function(result) {
          //   console.log(result.codeResult.code);
          // });
        }
      );

      this.Quagga.onProcessed((result) => {
        var drawingCtx = this.Quagga.canvas.ctx.overlay,
          drawingCanvas = this.Quagga.canvas.dom.overlay;

        if (result) {
          if (result.boxes) {
            drawingCtx.clearRect(
              0,
              0,
              parseInt(drawingCanvas.getAttribute("width")),
              parseInt(drawingCanvas.getAttribute("height"))
            );
            result.boxes
              .filter(function(box) {
                return box !== result.box;
              })
              .forEach((box) => {
                this.Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, {
                  color: "green",
                  lineWidth: 2
                });
              });
          }

          if (result.box) {
            this.Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, {
              color: "#00F",
              lineWidth: 2
            });
          }

          if (result.codeResult && result.codeResult.code) {
            this.Quagga.ImageDebug.drawPath(
              result.line,
              { x: "x", y: "y" },
              drawingCtx,
              { color: "red", lineWidth: 3 }
            );
          }
        }
      });
      
      const debounce = (func, delay) => {
        let inDebounce = null;
        this.isEnable = "ready";
        const newFunc = function() {
          if (this.isEnable === "ready") {
            console.log("hello", this.isEnable);
            const context = this;
            const args = arguments;
            func.apply(context, args);
          }
          clearTimeout(inDebounce);
          inDebounce = setTimeout(() => (this.isEnable = "ready"), delay);
        };
        return newFunc.bind(this);
      };

      const updateBarCode = code => {
        this.barCode = code;
        console.log(code);
        console.log("before declaration");
        console.log(findSnack);
        const findSnack = this.snackInfo.find(snack => {
          if (snack.snackBarcode === this.barCode) {
            return true;
          } else {
            return false;
          }
        });
        console.log("after Declare")
        console.log(findSnack);
        if (findSnack) {

          console.log("SNACK FOUND");
          console.log(findSnack);
          document.getElementById("beep").play();
          this.snackOrder.push(findSnack);
          this.isEnable = "scanned";
        } else {
          console.log(this.isEnable);
        }
      };
      const debouncedUpdateBarCode = debounce(updateBarCode, 1500);
      this.Quagga.onDetected(function(result) {
        console.log("detected");
        const code = result.codeResult.code;
        debouncedUpdateBarCode(code);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  border-color: $primary-color;
}
#BarCode {
  position: relative !important;
}
</style>

<style lang="scss">
canvas.drawingBuffer {
  position: absolute !important;
  left: 0;
  top: 0;
}
</style>