<template>
  <section>
    <div class="card col px-sm-0">
      <div v-bind:class="{active: isActive}" class="card-body">
        <h1>Clear</h1>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.card {
  border-color: #ff0000ba;
}
.card-clear {
  border-color: #ff0000ba;
}
.active{
    background-color: #ff0000ba;
    color: white;
}
</style>

<script>
import { get,sync } from "vuex-pathify";

export default {
  name: "scan",
  computed: {
    menu: get("scanMenu"),
    snackOrder: sync("snackOrder"),
    isActive() {
        return this.menu === "clear";
    },
    clearData(){
      this.snackOrder = [];
    }
  }
};
</script>