<template>
  <section>
    <div v-if="owedAmount > 0">
        <h1>ต้องชำระ</h1>
        <h1>{{owedAmount}} บาท</h1>
    </div>
    <div v-if="currentAmount">
        <h3>
          ชำระไปแล้ว <br> {{currentAmount}} บาท
        </h3>
    </div>
  </section>
</template>

<script>
import { get } from "vuex-pathify";

export default {
  props: ['currentAmount', 'owedAmount']
};
</script>