<template>
  <section>
    <div class="card col px-sm-0">
      <div v-bind:class="{active: isActive}" class="card-body">
        <h1>Proceed</h1>
      </div>
    </div>
  </section>
</template>


<style lang="scss" scoped>
.card {
  border-color: $primary-color;
}
.active{
    background-color: $primary-color;
    color: white;
}
</style>

<script>
import { get } from "vuex-pathify";

export default {
  name: "scan",
  computed: {
    menu: get("scanMenu"),
    isActive() {
        return this.menu === "proceed";
    }
  }
};
</script>