<template>
  <section>
    <div class="card col-sm-4">
      <div class="card-body">
        <img alt="Vue logo" src="../assets/Line_QR.png">
      </div>
    </div>
  </section>
</template>


<style lang="scss" scoped>
.card {
  border-color: $primary-color;
}
</style>
