<template>
  <div class="container-fluid">
    <div class="row">
      <div
        v-show="cameraReady"
        class="col-md-8"
        id="affdex_elements"
        style="width:680px;height:480px;"
      ></div>
      <div class="col-md-4">
        <div style="height:15em;">
          <h1>
            <strong>{{smileText}}</strong>
          </h1>
          <div id="results" style="word-wrap:break-word;"></div>
           <div class="wrapper">
            <div class="flexbox">              
              <div class="box">
                <div id="g2" class="gauge 200x160px">
                </div>
              </div>
            </div>
            </div>

          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { sync, get } from "vuex-pathify";
import { setTimeout } from "timers";
const axios = require("axios");

function dataURItoBlob(dataURI) {
  // convert base64/URLEncoded data component to raw binary data held in a string
  var byteString;
  if (dataURI.split(",")[0].indexOf("base64") >= 0)
    byteString = atob(dataURI.split(",")[1]);
  else byteString = unescape(dataURI.split(",")[1]);

  // separate out the mime component
  var mimeString = dataURI
    .split(",")[0]
    .split(":")[1]
    .split(";")[0];

  // write the bytes of the string to a typed array
  var ia = new Uint8Array(byteString.length);
  for (var i = 0; i < byteString.length; i++) {
    ia[i] = byteString.charCodeAt(i);
  }

  return new Blob([ia], { type: mimeString });
}

export default {
  computed: {
    totalPrice: get("totalPrice"),
    isSmile: sync("isSmile"),
    smileText() {
      return this.isSmile
        ? "THANK YOU :D"
        : "รับส่วนลดทันที! เมื่อคุณยิ้มกว้างๆให้ถึง 100%";
    }
  },
  data() {
    return {
      cameraReady: false
    };
  },
  mounted() {
    
    // SDK Needs to create video and canvas nodes in the DOM in order to function
    // Here we are adding those nodes a predefined div.
    var divRoot = $("#affdex_elements")[0];
    var width = 640;
    var height = 480;
    var faceMode = affdex.FaceDetectorMode.LARGE_FACES;
    //Construct a CameraDetector and specify the image width / height and face detector mode.
    var detector = new affdex.CameraDetector(divRoot, width, height, faceMode);

    //Enable detection of all Expressions, Emotions and Emojis classifiers.
    detector.detectAllEmotions();
    detector.detectAllExpressions();
    detector.detectAllEmojis();
    detector.detectAllAppearance();

    //Add a callback to notify when the detector is initialized and ready for runing.
    detector.addEventListener("onInitializeSuccess", () => {
      console.log("#logs", "The detector reports initialized");
      //Display canvas instead of video feed because we want to draw the feature points on it
      $("#face_video_canvas").css("display", "block");
      $("#face_video").css("display", "none");
      this.cameraReady = true;
    });

    function log(node_name, msg) {
      console.log(node_name, msg);
    }

    //function executes when Start button is pushed.
    function onStart() {
      if (detector && !detector.isRunning) {
        $("#logs").html("");
        detector.start();
      }
      log("#logs", "Clicked the start button");
    }

    //function executes when the Stop button is pushed.
    function onStop() {
      console.log("#logs", "Clicked the stop button");
      if (detector && detector.isRunning) {
        detector.removeEventListener();
        detector.stop();
      }
    }

    //function executes when the Reset button is pushed.
    function onReset() {
      console.log("#logs", "Clicked the reset button");
      if (detector && detector.isRunning) {
        detector.reset();

        $("#results").html("");
      }
    }

    //Add a callback to notify when camera access is allowed
    detector.addEventListener("onWebcamConnectSuccess", function() {
      log("#logs", "Webcam access allowed");
    });

    //Add a callback to notify when camera access is denied
    detector.addEventListener("onWebcamConnectFailure", function() {
      log("#logs", "webcam denied");
      log("Webcam access denied");
    });

    //Add a callback to notify when detector is stopped
    detector.addEventListener("onStopSuccess", function() {
      log("#logs", "The detector reports stopped");
      $("#results").html("");
    });
    //Add a callback to receive the results from processing an image.
    //The faces object contains the list of the faces detected in an image.
    //Faces object contains probabilities for all the different expressions, emotions and appearance metrics
   
    var g2 = new JustGage({
              id: 'g2',
              value: 0,
              min: 0,
              max: 100,
              symbol: '%',
              pointer: true,
              pointerOptions: {
                toplength: -15,
                bottomlength: 10,
                bottomwidth: 12,
                color: '#8e8e93',
                stroke: '#ffffff',
                stroke_width: 3,
                stroke_linecap: 'round'
              },
              gaugeWidthScale: 0.6,
              counter: true,
              relativeGaugeSize: true,
              donut: true
            });

    detector.addEventListener("onImageResultsSuccess", (faces, image, timestamp) => {
        $("#results").html("");

        // log('#results', 'Timestamp: ' + timestamp.toFixed(2));
        // log('#results', 'Number of faces found: ' + faces.length);
        if (faces.length > 0) {
          // log('#results', 'Appearance: ' + JSON.stringify(faces[0].appearance));
          // log(
          //   '#results',
          //   'Emotions: ' +
          //     JSON.stringify(faces[0].emotions, function(key, val) {
          //       return val.toFixed ? Number(val.toFixed(0)) : val;
          //     })
          // );
          console.log(JSON.stringify(faces[0].expressions.smile))
              
        g2.refresh(JSON.stringify(faces[0].expressions.smile));
        
          JSON.stringify(faces[0].expressions, (key, val) => {
            if (JSON.stringify(faces[0].expressions.smile) > 99.9) {
              var canvas = document.getElementById("face_video_canvas");
              if (!this.isSmile) {
                this.isSmile = true;
                const pic = canvas.toDataURL();
                const blob = dataURItoBlob(pic);
                console.log(pic);
                setTimeout(() => {
                  this.$router.push("/coin");
                  onStop();
                }, 1000);
                const formData = new FormData();
                formData.append("filename", blob, "pic.png");
                console.log(formData.get("filename"));
                axios
                  .post("https://snackbox.globish.co.th/api/wallet/upload", formData, {
                    headers: {
                      "Content-Type": "multipart/form-data"
                    }
                  })
                  .then(res => {
                    console.log(res);
                  });
              }
              log("Pass " + JSON.stringify(faces[0].expressions.smile));
            } else {
              // console.log(
              //   'Fail ' + JSON.stringify(faces[0].expressions.smile)
              // );
            }
            return val.toFixed ? Number(val.toFixed(0)) : val;
          });

          // log('#results', 'Emoji: ' + faces[0].emojis.dominantEmoji);
          // if($('#face_video_canvas')[0] != null)
          // drawFeaturePoints(image, faces[0].featurePoints);
        }
      }
    );

    onStart();
  }
};
</script>