<template>
  <div class="content">
      <div class="content" v-bind:key="snackOrder.id" v-for="snackOrder in snackOrders">
        <div class="row box-list">
          <div class="col">
            <h3 align="left mx-sm-2">{{snackOrder.snackName}}</h3>
          </div>
          <div class="col">
            <h3 align="right mx-sm-2">{{snackOrder.snackPrice}} &nbsp;&nbsp;&nbsp;&nbsp;฿</h3>
          </div>
        </div>
      </div>
  </div>
</template>
<script>
import { get } from "vuex-pathify";
export default {
  computed: {
    snackOrders: get('snackOrder'),
  },  
}
</script>
<style lang="scss" scoped>
  .price{
    justify-content: space-between;
  }
</style>