<template>
  <section>
    <div>
        <h4>
          Price: {{totalPrice}} ฿<br>
          <span v-if="walletBalance > 0">Your wallet: {{walletBalance}} ฿<br></span>
          Smile promotion: {{totalPrice - discountedPrice}} ฿
        </h4>
    </div>
    <div>
        <h1>
          {{amount}} ฿
        </h1>
    </div>
  </section>
</template>

<script>
export default {
  props: ['totalPrice', 'discountedPrice', 'walletBalance', 'amount']
};
</script>