<template>
  <div id="app">
    <router-view class="container"/>
  </div>
</template>

<style lang="scss">
@import './assets/scss/main.scss';
@import '../node_modules/bootstrap-scss/bootstrap.scss';
</style>

