<template>
  <div>
    <h1>Add Snack</h1>
    <div class="container">
      <form ref="form">
        <div class="form-group row">
          <label for="snackName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="snackName" placeholder="Name" v-model="snackName">
          </div>
        </div>
        <div class="form-group row">
          <label for="snackPrice" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="snackPrice" placeholder="Price" v-model="snackPrice">
          </div>
        </div>
        <div class="form-group row">
          <label for="snackBarcode" class="col-sm-2 col-form-label">Barcode Number</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="snackBarcode" placeholder="barcode" v-model="snackBarcode">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" v-on:click="postSnack" class="btn btn-primary">submit</button>
          </div>
        </div>
      </form>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Barcode</th>
            <th scope="col">Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in snackInfo" :key="index">
            <th scope="row">{{index+1}}</th>
            <td>{{item.snackName}}</td>
            <td>{{item.snackPrice}}</td>
            <td>{{item.snackBarcode}}</td>
            <td><button v-on:click="removeSnack(item._id);" type="button" class="btn btn-danger">X</button></td>
          </tr>
        </tbody>
</table>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return{
      snackName : "",
      snackPrice: "",
      snackBarcode:"",
      snackInfo: ""
    }
  },
  methods: {
    async postSnack(){
      const {data} = await axios
      .post('https://snackbox.globish.co.th/api/snack', {
        "snackName": this.snackName,
        "snackPrice": this.snackPrice,
        "snackBarcode": this.snackBarcode,
      })
      .then(response => {return response}).catch((err) => {return {status: 400}});
        if(result.status == 200){
            this.$router.push('/add');
            return;
        }
    },
    async getSnack(){
      const {data} = await axios
      .get('https://snackbox.globish.co.th/api/snack')
      this.snackInfo = data;
    },
    async removeSnack(_id){
      const {data} = await axios.delete("https://snackbox.globish.co.th/api/snack/"+_id,{
        "_id":_id
      })
      console.log(data);
      this.$router.go();
      return;
        
    }
  },
  mounted() {
    this.getSnack()
  },
}
</script>