<template>
  <div class="text-center p-5">
    <div class="text-center">
      <TotalPrice :totalPrice="totalPrice" :walletBalance="walletBalance" :discountedPrice="discountedPrice" :amount="amount"/>
    </div>
    <hr>
    <div class="text-center">
      <CoinPrice :currentAmount="currentAmount" :owedAmount="owedAmount"/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { get,sync } from "vuex-pathify";
import * as firebase from 'firebase'
import axios from 'axios'
import { setTimeout } from 'timers';

const components = {
  TotalPrice: () =>
    import("@/components/TotalPrice.vue" /* webpackChunkName: "components/TotalPrice" */),
  CoinPrice: () =>
    import("@/components/CoinPrice.vue" /* webpackChunkName: "components/CoinPrice" */)
};

// Initialize Firebase
const config = {
  apiKey: "AIzaSyCGwY32o0tzvoqfANOCMq5rLDMJgligKE8",
  authDomain: "snackbox-16154.firebaseapp.com",
  databaseURL: "https://snackbox-16154.firebaseio.com",
  projectId: "snackbox-16154",
  storageBucket: "snackbox-16154.appspot.com",
  messagingSenderId: "516255596350"
};
firebase.initializeApp(config);

const dataRef = firebase.database().ref()

export default {
  name: "coin",
  components,
  data () {
    return {
      walletBalance: 0,
      amount: 0,
      currentAmount: 0,
      owedAmount: 0,
      start: 0,
    }
  },
  computed: {
    loggedInUser: sync("loggedInUser"),
    totalPrice: get('totalPrice'),
    discountedPrice: get('discountedPrice'),
    orderInfo: sync('orderInfo'),
    snackOrder: sync('snackOrder')
  },
  async mounted () {
    await this.initOrderPrice()
    dataRef.on('value', (snapshot) => {
      var snapshotValue = snapshot.val();
      this.start = (snapshotValue && snapshotValue.Start) || 0;
      this.amount = (snapshotValue && snapshotValue.Amount) || 0;
      this.currentAmount = (snapshotValue && snapshotValue.CurrentAmount) || 0;
      this.owedAmount = this.amount - this.currentAmount
      const deposit = this.currentAmount - this.amount;
      if(this.start == 2) {
        // if(this.start == 2 || this.amount == 0 ) {
        let deposit = this.currentAmount - this.amount;
        const balance = this.walletBalance - this.discountedPrice
        if(deposit > 0) {
          this.cashBack(deposit)  
        } else if(balance > 0) {
          this.cashBack(balance)
        }
        
        this.orderInfo = {
          "userId": this.loggedInUser,
          "orderItems": this.snackOrder,
          "total": this.discountedPrice,
          "smile": this.totalPrice - this.discountedPrice,
          "wallet": deposit,
          "paid": this.currentAmount,
          "deposit": deposit
        }
        dataRef.child('Start').set(0);
        dataRef.child('Amount').set(0);
        dataRef.child('CurrentAmount').set(0);
        this.$router.push('/thankyou')
        dataRef.off('value');
      }
    });
  },
  methods: {
    async getBalance(){
      const {data} = await axios.get('https://snackbox.globish.co.th/api/wallet/'+ this.loggedInUser)
      this.walletBalance = data.balance;
    },
    async initOrderPrice() {
      await this.getBalance()
      let amount = this.discountedPrice - this.walletBalance
      if(amount < 0) {
        amount = 0;
      }
      await dataRef.child('Amount').set(amount)
      setTimeout(() => {
         dataRef.child('Start').set(1);
      }, 1000)
    },
    async cashBack(amount){
      axios.put(`https://snackbox.globish.co.th/api/wallet/`+ this.loggedInUser, {
          "userId": this.loggedInUser,
          "balance": amount,
          "owner": "string"
      })
      .catch(function (e) {
          console.error(e);
      });
    },
  },
};
</script>
