<template>
  <div class="home text-center">
    <div class="back-button card row align-items-center justify-content-center">
      <div class="d-flex align-itmes-center p-0 justify-content-center">
        <div>
        </div>
      </div>
    </div>
    <div>
      <img alt="Vue logo" src="../assets/logo.png">
    </div>
    <div class="row justify-content-center title">
      <h1>Welcome to Snack Box</h1>
    </div>
    <div class="row justify-content-center">
      <Login class="row justify-content-center col-sm-4 mx-sm-4"/>
      <Register class="row justify-content-center col-sm-4 mx-sm-4"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card {
  border-color: $primary-color;
}
.back-button {
  margin:10px;
  width: 100px;
  height:50px;
  border-color: rgba(0,0,0,0);
}
</style>

<script>
// @ is an alias to /src
import { sync } from "vuex-pathify";
// import QRCode from '@/components/QRCode.vue'
const components = {
  QRCode: () =>
    import("@/components/QRCode.vue" /* webpackChunkName: "components/QRCode" */),
  Register: () =>
    import("@/components/Register.vue" /* webpackChunkName: "components/Register" */),
  Login: () =>
    import("@/components/Login.vue" /* webpackChunkName: "components/Login" */)
};

export default {
  name: "home",
  components,
  computed: {
    user: sync("user"),
    menu: sync("menu"),
    loggedInUser: sync("loggedInUser"),
    barCode: sync("barCode"),
    snackInfo: sync("snackInfo"),
    snackOrder: sync("snackOrder"),
    scanMenu: sync("scanMenu"),
    orderInfo: sync("orderInfo"),
    isSmile: sync("isSmile")
  },
  methods: {
    defaultAllStates(){
      this.user = null,
      this.loggedInUser = null,
      this.barCode = null,
      this.snackInfo = null,
      this.snackOrder = [],
      this.scanMenu = 'proceed',
      this.orderInfo = {},
      this.isSmile = false
    },
    arrowPressedListener(event){
      // this.menu = "login";
      if(event.keyCode >= 37 && event.keyCode <= 40){
        if(this.menu == "register"){
          this.menu = "login";
        }else{
          this.menu = "register";
        }  
      }else if(event.keyCode == 13){
        //select the menu
        if(this.menu == "register")
            this.$router.push('/register');
        else if(this.menu == "login")
            this.$router.push('/login');
      }
    }
  },
  created: function(){
      document.addEventListener('keyup', this.arrowPressedListener);
      this.defaultAllStates();
  },
  destroyed: function(){
      document.removeEventListener('keyup', this.arrowPressedListener);
  }
};
</script>
