<template>
  <div class="register text-center">
    <div class="back-button card row align-items-center justify-content-center">
      <div class="d-flex align-itmes-center p-0 justify-content-center">
        <div>
        ← Back (esc)
        </div>
      </div>
    </div>
    <div>
      <img alt="Vue logo" src="../assets/logo.png">
    </div>
    <div  class="row justify-content-center" style="margin:10px">
        Please log in with your QR Code
    </div>
    <div class="row justify-content-center" style="margin:10px">
        {{message}}
    </div>
    <div class="row justify-content-center">
      <video id="preview"></video>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card {
  border-color: $primary-color;
}
.back-button {
  margin:10px;
  width: 100px;
  height:50px;
}
</style>

<script>
const Instascan = require('instascan');
const axios = require('axios');
// @ is an alias to /src
import { sync } from "vuex-pathify";
import {baseApiUrl} from "@/constant";

// import QRCode from '@/components/QRCode.vue'
const components = {
  QRCode: () =>
    import("@/components/QRCode.vue" /* webpackChunkName: "components/QRCode" */)
};

export default {
  name: "register",
  components,
  computed: {
    loggedInUser: sync("loggedInUser"),
    barCode: sync("barCode"),
    snackInfo: sync("snackInfo"),
    snackOrder: sync("snackOrder"),
    scanMenu: sync("scanMenu"),
    orderInfo: sync("orderInfo"),
    isSmile: sync("isSmile")
  },
  data: function(){
      return {
          message: '',
          scanner: null,
          username: '',
          info: null
      }
  },
  methods: {
    defaultAllStates(){
      this.user = null,
      this.loggedInUser = null,
      this.barCode = null,
      this.snackInfo = null,
      this.snackOrder = [],
      this.scanMenu = 'proceed',
      this.orderInfo = {},
      this.isSmile = false
    },
    arrowPressedListener(event){
      // go back
      if(event.keyCode == 27){
        this.$router.go(-1);
      }
    },
    async checkQR(){      
      const result = await axios
      .post(baseApiUrl+'/line/verify', {
        "userId": this.username
        })
      .then(response => {return response}).catch((err) => {return {status: 400}});
        if(result.status == 200){
            return true;
        }
        else{
            return false;
        }
        return false;
    },
    async redirectIfAuthenticated(){
        // console.log('called');
        const result = await this.checkQR();
        if(result){
            this.loggedInUser = this.username;
            this.message = "Welcome Back.";
            this.$router.push('/scan');
        }else{
            this.message = "Invalid QR. Please try again.";
            Instascan.Camera.getCameras().then((cameras) => {
                if (cameras.length > 0) {
                this.scanner.start(cameras[0]);
                } else {
                console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        }
    }
  },
  created: function(){
      document.addEventListener('keyup', this.arrowPressedListener);
      this.defaultAllStates();
  },
  mounted: function(){
    this.scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      this.scanner.addListener('scan', (content) => {
        this.username = content;
        this.scanner.stop();
        this.message = "QR Detected. Please Wait.";
        this.redirectIfAuthenticated();
      });
      Instascan.Camera.getCameras().then((cameras) => {
        if (cameras.length > 0) {
          this.scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
  },
  destroyed: function(){
      document.removeEventListener('keyup', this.arrowPressedListener);
      this.scanner.stop();
  }
};
</script>