<template>
  <div class="register text-center">
    <div class="back-button card row align-items-center justify-content-center">
      <div class="d-flex align-itmes-center p-0 justify-content-center">
        <div>
        ← Back (esc)
        </div>
      </div>
    </div>
    <div>
      <img alt="Vue logo" src="../assets/logo.png">
    </div>
    <div class="row justify-content-center">
      <QRCode class="row justify-content-center col mx-sm-4"/>
    </div>
    <div class="row justify-content-center" style="padding:10px">
        Please type in the OTP that is sent to your phone after adding SnackBox LINE and press Enter.
    </div>
    <div class="row justify-content-center">
      <input ref="otp" type="text" v-model="otp_input" v-on:keyup.enter="checkotp" autofocus>
    </div>
    <div class="row justify-content-center" style="margin:10px">
        {{message}}
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card {
  border-color: $primary-color;
}
.back-button {
  margin:10px;
  width: 100px;
  height:50px;
}
</style>

<script>
const axios = require('axios');
// @ is an alias to /src
import { sync } from "vuex-pathify";
import {baseApiUrl} from "@/constant";
// import QRCode from '@/components/QRCode.vue'
const components = {
  QRCode: () =>
    import("@/components/QRCode.vue" /* webpackChunkName: "components/QRCode" */)
};

export default {
  name: "register",
  components,
  data: function(){
      return {
          otp_input: '',
          message: ''
      }
  },
  computed: {
    loggedInUser: sync("loggedInUser"),
    barCode: sync("barCode"),
    snackInfo: sync("snackInfo"),
    snackOrder: sync("snackOrder"),
    scanMenu: sync("scanMenu"),
    orderInfo: sync("orderInfo"),
    isSmile: sync("isSmile")
  },
  methods: {
    defaultAllStates(){
      this.user = null,
      this.loggedInUser = null,
      this.barCode = null,
      this.snackInfo = null,
      this.snackOrder = [],
      this.scanMenu = 'proceed',
      this.orderInfo = {},
      this.isSmile = false
    },
    arrowPressedListener(event){
      // go back
      if(event.keyCode == 27){
        this.$router.go(-1);
      }
    },
    async checkotp(){
        this.message = "Verifying, Please wait.";
        this.$refs.otp.disabled = true;
        console.log(this.otp_input);
        const result = await axios
      .post(baseApiUrl+'/line/otp', {
        "otp": this.otp_input
        })
      .then(response => {return response}).catch((err) => {return {status: 400}});
        if(result.status == 200){
            console.log("log in successful. user" + result.data.userId);
            this.loggedInUser = result.data.userId;
            this.message = "Welcome :)";
            this.$router.push('/scan');
            return;
        }
        console.log("log in failed");
        this.$refs.otp.disabled = false;
        this.otp_input = '';
        this.$refs.otp.focus();
        this.message = "Failed to Verify your OTP. Please try again.";
    }
  },
  created: function(){
      document.addEventListener('keyup', this.arrowPressedListener);
      this.defaultAllStates();
  },
  mounted: function(){
      this.$refs.otp.focus();
  },
  destroyed: function(){
      document.removeEventListener('keyup', this.arrowPressedListener);
  }
};
</script>