<template>
<div class="scan container text-center">
   <div class="back-button card row align-items-center justify-content-center">
      <div class="d-flex align-itmes-center p-0 justify-content-center">
        <div>
        </div>
      </div>
    </div>
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div width="80%">
        <!-- <div class="card"> -->
          <div width="50%"><BarCode/></div>
        <!-- </div> -->
      </div>
    </div>
    <div class="col-lg-5">
            <div class="row">
              <!-- <div class="col">
                <img class="potato" alt="potato" src="../assets/potato.png">
              </div> -->
              <div class="col-lg-8">
                <h1 class="your-snack">Your List Snack</h1>
              </div>
              <div class="col-lg-4">
                <img class="potato" alt="potato" src="../assets/potato.png">
              </div>
            </div>
            <!-- <div class="card">
                  <div class="card-body"> -->
                    <div width="50%"><SnackItem/></div>
                  <!-- </div>
            </div> -->
            <div class="box-press">
              <Proceed class="row justify-content-left mx-sm-1" width="100%"/>
            </div>
            <div class="box-press">
              <ClearList class="row justify-content-right  mx-sm-1" width="100%"/>
            </div>
    </div>
  </div>
</div>
</template>
<script>
const components = {
  BarCode: () =>
    import("@/components/BarCode.vue" /* webpackChunkName: "components/BarCode" */),
  SnackItem:() =>
    import("@/components/SnackItem.vue" /* webpackChunkName: "components/SnackItem" */),
  ClearList:() =>
    import("@/components/ClearList.vue" /* webpackChunkName: "components/ClearList" */),
  Proceed:() =>
    import("@/components/Proceed.vue" /* webpackChunkName: "components/Proceed" */),
};

import axios from 'axios'
import { get,sync } from "vuex-pathify"
export default {
  name:"scan",
  components,
  computed: {
    menu : sync("scanMenu"), 
    barCode : get("barCode"),
    snackInfo: sync("snackInfo"),
    snackOrder: sync("snackOrder"),
  },
  methods: {
    async getSnack(){
      const {data} = await axios
      .get('https://snackbox.globish.co.th/api/snack')
      this.snackInfo = data;
    },
    arrowPressedListener(event){
      // this.menu = "login";
      if(event.keyCode >= 37 && event.keyCode <= 40){
        if(this.menu == "proceed"){
          this.menu = "clear";
        }else{
          this.menu = "proceed";
        }  
      }else if(event.keyCode == 13){
        //select the menu
        if(this.menu == "proceed"){
          if(this.snackOrder.length > 0 ){
            this.$router.push('/smile');            
          }else{
            alert("Please scan barcode");
          }
        }
        else if(this.menu == "clear"){
            this.snackOrder = [];          
        }
      }
    },
    clearData(){
      this.snackOrder = [];
    }
  },
  mounted: function(){
    this.getSnack();
  },
  created: function(){
      document.addEventListener('keyup', this.arrowPressedListener);
  },
  destroyed: function(){
      document.removeEventListener('keyup', this.arrowPressedListener);
  }
}
</script>

<style lang="scss" scoped>
  .card {
  border-color: $primary-color;
}
  .btn-center{
    text-align: center;
  }
  .btn{
    width: 100% !important;
    margin-bottom: 20px;
  }
  .back-button {
  margin:10px;
  width: 100px;
  height:50px;
  border-color: rgba(0,0,0,0);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 4 auto;
    padding: 2.25rem;
}
.box-press{
  padding-top: 15px;
}
.potato{
  width: 100%;
  padding-bottom: 1.25rem;
  padding-top: 0.75rem;
}
.your-snack{
  padding-top: 6.25rem;
}
</style>