<template>
  <div width="100%">
    <h1>Smile</h1>
    <SmileDetector/>
  </div>
</template>
<script>
const components = {
  SmileDetector: () =>
    import("@/components/SmileDetector.vue" /* webpackChunkName: "components/SmileDetector" */)
};

import axios from 'axios'
import { get,sync } from "vuex-pathify"
export default {
  components,
  computed: {
    loggedInUser : sync("loggedInUser"),
    snackOrders: get('snackOrder')
  },
  methods: {
  },
  mounted: function(){
}
}
</script>
<style lang="">
  
</style>