<template>
  <div class="text-center p-5">
    <img src="../assets/thankyou01.png">
    <br class="clearfix"><br>
    <h1>Thank you</h1>
    <hr>
    <h4>
      หน้านี้จะถูกเปลี่ยน ภายใน {{timer}} วิ 
    </h4>
    <div class="alert alert-light" role="alert">
       Please, press <span class="alert-link">exit (esc)</span> button. if server is not responding.
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .back-button {
    margin:10px;
    width: 200px;
    height:50px;
  }
</style>

<script>
// @ is an alias to /src
import { sync } from "vuex-pathify";
import axios from 'axios'

export default {
  name: "thankyou",
  data () {
    return {
      interval: null,
      timer: 5,
    }
  },
  computed: {
    loggedInUser: sync("loggedInUser"),
    orderInfo: sync('orderInfo'),
  },
  mounted () {
    if(this.orderInfo) {
      this.postOrderComfirm() 
    }
    this.interval = window.setInterval(() => {
      this.timer = this.timer - 1;
      if(this.timer <= 0) {
        clearInterval(this.interval)
        this.$router.push('/');
      }
    }, 1000);
  },
  methods: {
    async postOrderComfirm(){
      axios.post(`https://snackbox.globish.co.th/api/order/confirm`, this.orderInfo)
      .catch(e => {
        console.error(e);
      })
    },
    arrowPressedListener(event){
      // go home
      if(event.keyCode == 27){
        this.$router.push('/');
      }
    },
  },
  created: function(){
      document.addEventListener('keyup', this.arrowPressedListener);
  },
  destroyed: function(){
      document.removeEventListener('keyup', this.arrowPressedListener);
  }
};
</script>
