$nav-background: rgb(255, 255, 255) !important;
$nav-color: #333 !important;
$nav-active-color: #f46500 !important;
$body-background: rgb(230, 230, 230);
$body-color: #333;
$primary-color: #77BE44;


$yellow: #f1c40f;
$orange: #f46500;
$green: #77BE44;
$red: #e74c3c;
$blue: #2980b9;

$theme-colors: (
  "primary": $green,
  "success": $green,
  "info": $blue,
  "danger": $red,
  "warning": $yellow,
);

$gs-0: #111111;
$gs-1: #2B2B2B;
$gs-2: #BCBCBC;
$gs-3: #E8E8E8;

$almost-white: #C8C8C8;

$serif-font-family: 'Lato', serif !important;
// $sans-serif-font-family: 'KrungsriCondensed', sans-serif !important;
$sans-serif-font-family: 'Lato', sans-serif !important;
$headings-font-weight: bold;
$font-family-sans-serif: $sans-serif-font-family;
$font-family-base: $font-family-sans-serif;

// Typography
$line-height-ratio: 1.8;

// Forms
$input-padding-y: .45rem;
$input-btn-padding-y: .65rem;
$input-bg: $gs-1;
$input-border-color: lighten($gs-1, 15%);
$input-color: white;
$input-line-height: 1rem;

// Transition Curves
$ease-in-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

// Custom mixins
@mixin font-weight($weight) {
  $normalized-weights: (
    light: 200,
    regular: 400,
    bold: 700
  );

  $output: $weight;
  @if map-has-key($normalized-weights, $weight) {
    $output: map-get($normalized-weights, $weight);
  }

  font-weight: $output;
}

@mixin font-family($type) {
  $types: (
    serif: $serif-font-family,
    sans-serif: $sans-serif-font-family
  );

  $output: $serif-font-family;
  @if map-has-key($types, $type) {
    $output: map-get($types, $type);
  }

  font-family: $output;
}

@mixin line-height($font-size) {
  line-height: $font-size * $line-height-ratio;
}

@mixin font-size($font-size) {
  font-size: $font-size;
  line-height: $font-size * $line-height-ratio;
}

@import '~bootstrap-scss/functions';
@import '~bootstrap-scss/variables';
@import '~bootstrap-scss/mixins';