/* ==========================================================================
   Font face
   ========================================================================== */

/* Lato
   -------------------------------------------------------------------------- */
@font-face {
  // Lato-Regular
	font-family: 'Lato';
	src: url('./assets/fonts/Lato/subset-Lato-Regular.eot');
	src: url('./assets/fonts/Lato/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Lato/subset-Lato-Regular.woff') format('woff'),
		url('./assets/fonts/Lato/subset-Lato-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;  
}

@font-face {
  // Lato-Bold
	font-family: 'Lato';
	src: url('./assets/fonts/Lato/subset-Lato-Bold.eot');
	src: url('./assets/fonts/Lato/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Lato/subset-Lato-Bold.woff') format('woff'),
		url('./assets/fonts/Lato/subset-Lato-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  // Lato-Black
	font-family: 'Lato';
	src: url('./assets/fonts/Lato/subset-Lato-Black.eot');
	src: url('./assets/fonts/Lato/subset-Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Lato/subset-Lato-Black.woff') format('woff'),
		url('./assets/fonts/Lato/subset-Lato-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
