@import 'common';

// Based on '~bootstrap-scss/bootstrap'
@import '~bootstrap-scss/bootstrap';

@import 'font';

html {
  // Root font size for REM unit
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
}

h1 {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, button {
  @include font-family(sans-serif);
  line-height: unset;
}

body {
  overscroll-behavior: contain;
  @include font-family(serif);
  font-size: 1rem;
  font-weight: normal;
  background-color: $body-background;
  color: $body-color;
}

form label {
  @include font-family(sans-serif);
  @include font-weight(bold);
}

form textarea {
  line-height: 1.6rem;
}

// Animation
@keyframes placeHolderShimmer{
  0% {
    background-position: -450px 0
  }
  100% {
    background-position: 450px 0
  }
}

.animated-background {
  animation: placeHolderShimmer 1.35s ease-in-out 0.15s infinite normal forwards;
  background: $gs-1;
  background: linear-gradient(to right, $gs-1 8%, lighten($gs-1, 8%) 18%, $gs-1 33%);
  background-size: 800px 100px;
  position: relative;
}

.loading-placeholder {
  @extend .animated-background;
}

a,
a:hover,
a:focus {
  color: inherit;
}
